# Amazon recommendation dataset

<br>

<i> thanks to https://www.kaggle.com/qwikfix/amazon-recommendation-dataset/comments </i>

In [22]:
import numpy as np
import pandas as pd

In [35]:
data = pd.read_csv("Reviews.csv")

In [5]:
data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [25]:
reviews = data.drop(["ProfileName","Summary","Text","Id","HelpfulnessNumerator","HelpfulnessDenominator","Time","Score"], axis=1)
reviews.head()

    ProductId          UserId
0  B001E4KFG0  A3SGXH7AUHU8GW
1  B00813GRG4  A1D87F6ZCVE5NK
2  B000LQOCH0   ABXLMWJIXXAIN
3  B000UA0QIQ  A395BORC6FGVXV
4  B006K2ZZ7K  A1UQRSCLF8GW1T

In [23]:
reviews.shape

(568454, 4)

In [21]:
reviews['ProductId'].nunique()

74258

In [22]:
reviews['UserId'].nunique()

256059

In [27]:
dayofweek = pd.to_datetime(data['Time'], unit='s').dt.dayofweek
quarter = pd.to_datetime(data['Time'], unit='s').dt.quarter

reviews['DayOfWeek'] = dayofweek
reviews['Quarter'] = quarter
reviews['Score'] = data["Score"]

reviews.head(5)

    ProductId          UserId  DayOfWeek  Quarter  Score
0  B001E4KFG0  A3SGXH7AUHU8GW          2        2      5
1  B00813GRG4  A1D87F6ZCVE5NK          4        3      1
2  B000LQOCH0   ABXLMWJIXXAIN          0        3      4
3  B000UA0QIQ  A395BORC6FGVXV          0        2      2
4  B006K2ZZ7K  A1UQRSCLF8GW1T          6        4      5

In [36]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(reviews[reviews.columns[:-1]], reviews["Score"], test_size=0.4, random_state=42)

In [38]:
X_train.to_csv("train.csv", index=False)
X_test.to_csv("test.csv", index=False)

y_train.to_csv("train_score.csv", index=False)
y_test.to_csv("test_score.csv", index=False)

In [39]:
X_train.shape

(341072, 4)

In [29]:
train = pd.read_csv("amazon_train_o.txt", sep=",", header=None)
train.columns = ["product_id","user_id","day_of_week","quarter","score"]
train.head()

   product_id         user_id  day_of_week  quarter  score
0  B005HGAVGA   A8YOYZ6BAW7PH            6        1      1
1  B000BRR8VQ  A1L3P8DQIXACKF            5        3      5
2  B007OXJLR4  A3SRGBRIHD7Q4D            0        3      5
3  B000TQEWM2   A1NBK07JEBCFI            0        3      5
4  B0034EDMLI  A3P9R0VIA1NDDC            6        1      5

In [36]:
users = pd.DataFrame()

users['user_id'] = data["UserId"]

In [37]:
users

               user_id
0       A3SGXH7AUHU8GW
1       A1D87F6ZCVE5NK
2        ABXLMWJIXXAIN
3       A395BORC6FGVXV
4       A1UQRSCLF8GW1T
...                ...
568449  A28KG5XORO54AY
568450  A3I8AFVPEE8KI5
568451  A121AA1GQV751Z
568452   A3IBEVCTXKNOH
568453  A3LGQPJCZVL9UC

[568454 rows x 1 columns]

In [50]:
users[:2]

          user_id
0  A3SGXH7AUHU8GW
1  A1D87F6ZCVE5NK

In [57]:
users.index[users["user_id"] == users.loc[0].values[0]].tolist()

[0]

In [ ]:
numeric_id = [None] * users["user_id"].shape[0]
index = 0

for i in range(users.shape[0]):
    
    # already assigned
    if numeric_ids[i] != None:
        continue
        
    index_list = users.index[users["user_id"] == users.loc[i].values[0]].tolist()
    
    # not yet assigned and only one
    if len(index_list) == 1:
        numeric_id[i] = index
        index = index + 1
        continue
        
        
    # not yet assigned, but not only one, that means it is first one - assign all
    for j in range(len(index_list)):
        numeric_id[index_list[j]] = index
    
    index = index + 1

numeric_id